.konlogo
{
	height: 300px;
	float: right;
}

.foto
{
	margin: 20px 0px 20px 0px;
}
.dfoto
{
	
	display: inline-block;
	width: 200px;
	height: 220px;
	border: 1px solid #888;
	border-radius: 6px;
	margin-left: 60px;
}

.fotobottom
{
	background-color: #777;
	width:200px;
	height:20px;
	color: #EEEEEE;
	border-radius: 0 0 0 5px;
}

.ful
{
 padding-left:24px;
 margin: 0px; 
 list-style-image:url(/source/sgal.png);
}

.str
{
	position: relative;
	height:40px;
	top:-100px;
	width:40px;
	margin-left:10px;
	opacity:0.5;
	transition: all 0.1s linear 0.1s;
}
.str:hover{opacity:1;}

.fotok
{
	margin-left:53px;
	margin-top:15px;
	margin-bottom:15px;
}

.dpgf
{
	position: relative;
	width:1100px;
	text-align:center;
	margin: 40px 0px 20px 50px;
	font-size: 20px;
}

.linegreen
{
	position:relative;
	margin:20px 0px 20px 0px;
	background: url(/source/volnagreen.png);
	background-size: contain;
	height:35px;
	width:100%;
}